<link href="@Url.Content("~/Content/Create_User.css")" rel="stylesheet" type="text/css" />

@model TramiteDigitalWeb.data_members.ca_usuarios

@{
    ViewBag.Title = "Nuevo usuario";
}

<h2>@ViewBag.Title</h2>
<hr style="width: 70%;float: left;display: block;"/>

@using (Html.BeginForm("Create", "Administracion", FormMethod.Post, new { style="clear: both;" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Usuario</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.usuario)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.usuario)
            @Html.ValidationMessageFor(model => model.usuario)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.contrasenia)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.contrasenia)
            @Html.ValidationMessageFor(model => model.contrasenia)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.repetircontrasenia)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.repetircontrasenia)
            @Html.ValidationMessageFor(model => model.repetircontrasenia)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.curp)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.curp)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.nombres)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nombres)
            @Html.ValidationMessageFor(model => model.nombres)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.apellido1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.apellido1)
            @Html.ValidationMessageFor(model => model.apellido1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.apellido2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.apellido2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.telefono)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.telefono)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.cargo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.cargo)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.activo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.activo)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.es_administrador)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.es_administrador)
        </div>
        <p>            
            <input type="submit" value="Agregar usuario" style="float:left;" />
            @Html.ActionLink("Cancelar", "Usuarios", null, new { style = "float:left;text-decoration: none;margin-top:5px;background-color: lightcoral;border: 1px solid #787878;cursor: pointer;font-size: 1.2em;font-weight: 600;padding: 6px;margin-right: 8px;width: auto;" })
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
