<link href="@Url.Content("~/Content/HomeIndex.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/TableStyle.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/usuarios_nodos.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/Simbologia.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery.tablesorter.pager.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.tablesorter.new.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.tablesorter.filter.js")" type="text/javascript"></script>

<script src="@Url.Content("~/Content/fancyapps-fancyBox-18d1712/lib/jquery.mousewheel-3.0.6.pack.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/fancyapps-fancyBox-18d1712/source/jquery.fancybox.js?v=2.1.5")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/fancyapps-fancyBox-18d1712/source/jquery.fancybox.css?v=2.1.5")" rel="stylesheet" type="text/css" media="screen" />

<!-- Add Button helper (this is optional) -->
<link href="@Url.Content("~/Content/fancyapps-fancyBox-18d1712/source/helpers/jquery.fancybox-buttons.css?v=1.0.5")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Content/fancyapps-fancyBox-18d1712/source/helpers/jquery.fancybox-buttons.js?v=1.0.5")" type="text/javascript"></script>

<!-- Add Thumbnail helper (this is optional) -->
<link href="@Url.Content("~/Content/fancyapps-fancyBox-18d1712/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Content/fancyapps-fancyBox-18d1712/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7")" type="text/javascript"></script>

<!-- Add Media helper (this is optional) -->
<script src="@Url.Content("~/Content/fancyapps-fancyBox-18d1712/source/helpers/jquery.fancybox-media.js?v=1.0.6")" type="text/javascript"></script>

@model TramiteDigitalWeb.data_members.re_nodos_usuarios

@{
    ViewBag.Title = "Vincular nodos";
        
    List<TramiteDigitalWeb.data_members.ca_usuarios> lista_usuarios = ViewBag.Usuarios;
    List<TramiteDigitalWeb.data_members.pa_obtener_nodos_no_enlazadosResult> lista_nodos = ViewBag.Nodos;    
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
            <p>
                Permite vincular repositorios de fuente de información a un usuario.
            </p>
            
            <ol class="round">
                @if (lista_usuarios != null)
                {
                    <li class="one">
                        <h3>Seleccionar USUARIO</h3>
                        El combo de USUARIOS muestra todos los usuarios registrados a los cuales les pueden ser vinculados nodos. 
                    </li>
                    <li class="two">
                        <h3>Seleccionar NODO</h3>
                        Al seleccionar un USUARIO el combo de NODOS filtrará la lista únicamente de los nodos que el usuario no tenga vinculados actualmente.                             
                    </li>
                }
                else { 
                    <li class="one">
                        <h3>Seleccionar NODO</h3>
                        El combo de NODOS filtrará la lista únicamente de los nodos que el usuario no tenga vinculados actualmente.                             
                    </li>                    
                }                
            </ol>

            <p>
            En la tabla de nodos vinculados, se describen las siguientes acciones permitidas.
            </p>
            <div class="bloque_simbologia">
                <div class="item_simbologia">
                    <div class="inline_simbologia">
                        <img src="@Url.Content("~/Content/images/detalle.png")" style="" />
                    </div>
                    <div class="inline_simbologia detalle_simbologia">
                        Muestra ventana con información referente al nodo vinculado.
                    </div>            
                </div>
                <div class="item_simbologia">
                    <div class="inline_simbologia">
                        <img src="@Url.Content("~/Content/images/delete.png")" style="" />
                    </div>
                    <div class="inline_simbologia detalle_simbologia">
                        Desvincular el nodo del usuario.
                    </div>            
                </div>
            </div>
        </div>
    </section>
}

<div id="notify_area"></div>

@if (ViewBag.ReturnUrl != null)
{
    <a href="@ViewBag.ReturnUrl" style="position: relative;top: -29px;float:right;text-decoration: none;margin-top:5px;background-color: #D3DCE0;border: 1px solid #787878;cursor: pointer;font-size: 1.2em;font-weight: 600;padding: 6px;margin-right: 8px;width: auto;">Regresar a datos de usuario</a>
}


@Html.ValidationSummary(true)

<div style="text-align:center;margin:50px 0">
        <fieldset class="bloque">
            <legend>Usuarios</legend>
            <ol>
                @if (lista_usuarios != null)
                {
                    if (lista_usuarios.Count() > 0)
                    {
                        <li>
                            @Html.LabelFor(m => m.id_usuario)
                            @Html.DropDownListFor(m => m.id_usuario, new SelectList(ViewBag.Usuarios, "id", "usuario"), "-- Seleccione usuario --", new { id = "cmb_usuarios" })
                            @Html.ValidationMessageFor(m => m.id_usuario)
                        </li>
                    }
                }
                <li>                    
                    @Html.LabelFor(m => m.id_nodo)                    
                    @Html.DropDownListFor(m => m.id_nodo, ViewBag.Nodos != null ? new SelectList(ViewBag.Nodos, "id", "nodo") : Enumerable.Empty<SelectListItem>(), ViewBag.Nodos != null ? null : "-- Seleccione nodo --", new { id = "cmb_nodos", disabled = "disabled" })
                    @Html.ValidationMessageFor(m => m.id_nodo)               
                </li>
                <li id="btn_asociar" style="display:none;">
                    <a onclick="asociar_nodo();" href="#" style="float: left;text-decoration: none;margin-top: 7px;margin-left: 10px;background-color: #D3DCE0;border: 1px solid #787878;cursor: pointer;font-size: 1.2em;font-weight: 600;padding: 6px;margin-right: 8px;width: auto;top: 16px;position: relative;">Asociar nodo</a>
                </li>
            </ol>
        </fieldset>
</div>

<div style="width: 90%;margin: 0 auto;">
    <table id="table" class="tablesorter_" style="width:100%;">
        <thead style="border-bottom: 1px solid #888;">
            <tr>
                <th>Nodo</th>
                <th>Url</th>
                <th>Usuario</th>
                <!--<th>Activo</th>-->
                <th>Fecha/Hora de registro</th>
                <th></th>
            </tr>
        </thead>            
        <tbody>
            <tr>
                <td colspan=6 style="text-align: center;font-size: 32px;font-weight: bold;">[<span style="text-align: center;font-size: 20px;font-weight: bold;color:lightcoral;">No se encontraron nodos asignados...</span>]</td>
            </tr>
        </tbody>
    </table>
</div>

@if (ViewBag.ReturnUrl != null)
{
    <a href="@ViewBag.ReturnUrl" style="float:right;text-decoration: none;margin-top:30px;background-color: #D3DCE0;border: 1px solid #787878;cursor: pointer;font-size: 1.2em;font-weight: 600;padding: 6px;margin-right: 8px;width: auto;">Regresar a datos de usuario</a>
}

<script type="text/javascript">
    $(function () {

        $('.fancyframe').fancybox({
            type: 'iframe',
            autoResize: true,
            fitToView: false,
            width: '60%',
            height: 'auto',
            autoSize: false,
            closeClick: false,
            openEffect: 'none',
            closeEffect: 'none',
            helpers: {
                title: { type: 'none' }
            }
        });

        $(".notify_area > img").on('click', function () {
            $(".notify_area").dequeue().fadeOut('slow');
        })

        if ($('#cmb_usuarios').val() != '') {
            change_event(parseInt($('#cmb_usuarios').val()));
        }

        $('#cmb_usuarios').on('change', function () {
            change_event(parseInt($(this).val()));
        });

        $('#cmb_nodos').on('change', function () {
            var value = parseInt($(this).val());
            var area = $('#btn_asociar');

            if (value > 0) {
                area.fadeIn('fast');
            } else {
                area.fadeOut('fast');
            }
        });

        change_event(parseInt('@ViewBag.Id_Usuario'));
    });

    //codigo para el evento de cambio al seleccionar usuario en combo
    function change_event(val) {        
        Lista_de_Nodos_No_Enlazados_Ajax(val);
        Lista_de_Nodos_Enlazados_Ajax(val);
    };  //function change_event

    function Lista_de_Nodos_No_Enlazados_Ajax(usuarioseleccionado) {
        var cmb_nodos = $("#cmb_nodos");

        if (usuarioseleccionado > 0) {
            cmb_nodos.empty();
            cmb_nodos.append(
                $('<option/>', {
                    value: 0,
                    text: "-- Seleccione nodo --"
                })
            );

            //Nodos no enlazados
                $.ajax({
                    url: '@Url.Action("Lista_de_Nodos_No_Enlazados_Ajax")',
                    type: 'GET',
                    data: { id_usuario: usuarioseleccionado },
                    beforeSend: function () {
                        $('#cmb_usuarios').attr('disabled', true).trigger("liszt:updated");
                        loader.show();
                    },
                    success: function (result) {
                        if (result.length > 0) {
                            $.each(result, function (index, item) {
                                if (item.id == null) {
                                    location.reload();
                                    return false;
                                }
                                cmb_nodos.append($('<option/>', { value: item.id, text: item.nodo }));
                            });
                            cmb_nodos.attr('disabled', false).trigger("liszt:updated");
                        } else {
                            cmb_nodos.append($('<option/>', { value: 0, text: "-- No se encontraron nodos para enlazar --" }));
                            cmb_nodos.attr('disabled', true).trigger("liszt:updated");
                        }
                    },
                    complete: function () {
                        $('#cmb_usuarios').attr('disabled', false).trigger("liszt:updated");
                        loader.hide();
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert(errorThrown);
                    }
                });
        } else {
            cmb_nodos.attr('disabled', true).trigger("liszt:updated");
        }
    };  //Lista_de_Nodos_No_Enlazados_Ajax

    function Lista_de_Nodos_Enlazados_Ajax(usuarioseleccionado) {
        var tablearea = $("#table tbody");
        tablearea.html('');
        if (usuarioseleccionado > 0) {
            //Nodos enlazados            
            $.ajax({
                url: '@Url.Action("Lista_de_Nodos_Enlazados_Ajax")',
                type: 'GET',
                data: { id_usuario: usuarioseleccionado },
                beforeSend: function () {
                    loader.show();
                },
                success: function (result) {
                    
                    if (result.length > 0) {

                        $.each(result, function (index, item) {
                            var redirect = '@Request.Url.GetLeftPart(UriPartial.Authority)' + '/administracion/Detalle_Nodo?id_nodo=' + item.id + '&partial=true';
                            var actions = '<a href="' + redirect + '" class="fancyframe action detalle_icon"></a>' +
                                          '<a href="#" class="action elimina_icon" title="Desasociar nodo" onclick="elimina_nodo(' + usuarioseleccionado + ',' + item.id + ')"></a>';

                            tablearea.append('<tr><td>' + item.nodo +
                                             '</td><td>' + item.url_servicio_rest +
                                             '</td><td>' + item.usuario +
                            //'</td><td>' + item.activo +
                                             '</td><td>' + item.fecha_registro +
                                             '</td><td>' + actions + '</td></tr>')
                        });
                    } else {
                        tablearea.append('<tr><td colspan=6 style="text-align: center;font-size: 32px;font-weight: bold;">[<span style="text-align: center;font-size: 20px;font-weight: bold;color:lightcoral;">No se encontraron nodos asignados...</span>]</td></tr>');
                    }
                },
                complete: function () {
                    loader.hide();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        } else {
            tablearea.append('<tr><td colspan=6 style="text-align: center;font-size: 32px;font-weight: bold;">[<span style="text-align: center;font-size: 20px;font-weight: bold;color:lightcoral;">Aún no se selecciona usuario...</span>]</td></tr>');
        }
    };  //Lista_de_Nodos_Enlazados_Ajax

    function elimina_nodo(usuarioseleccionado,nodo) {
        $.ajax({
            url: '@Url.Action("Desasocia_Nodo_Ajax")',
            type: 'GET',
            data: { id_usuario: usuarioseleccionado,
                    id_nodo: nodo },
            beforeSend: function () {
                loader.show();
            },
            success: function (result) {
                var usuarioseleccionado = $('#cmb_usuarios').val() != null ? parseInt($('#cmb_usuarios').val()) : parseInt('@ViewBag.Id_Usuario')
                change_event(usuarioseleccionado);
                var notify_doom = '<div class="notify_area" style="background-color: lightcoral;margin: 20px;padding: 15px;border: 1px solid #F00;display::_none;">' +
                                  '<img src="@Url.Content("~/Content/images/close.png")" style="position: relative;float: right;right: -7px;float: right;top: -8px;" />' +
                                  '<span>' + result + '</span>' +
                                  '</div>'
                $("#notify_area").prepend(notify_doom);

                var notify = $(".notify_area");
                notify.has('img').on('click', function () {
                    notify.dequeue().fadeOut('slow');
                });
                notify.fadeIn('fast').delay(result.length * 90).fadeOut('slow', function () { $(this).remove(); })
            },
            complete: function () {
                loader.hide();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert('Ocurrió un error al intentar eliminar el nodo, favor de intentarlo de nuevo');
            }
        });
    };

    function asociar_nodo(){    
        var value = parseInt($('#cmb_nodos').val());
        if (value > 0) {
            var usuarioseleccionado = $('#cmb_usuarios').val() != null ? parseInt($('#cmb_usuarios').val()) : parseInt('@ViewBag.Id_Usuario')
            asociar_nodo_ajax(usuarioseleccionado, value);
        }
    };

    function asociar_nodo_ajax(usuario, nodo) {    
        $.ajax({
            url: '@Url.Action("asociar_nodo_ajax")',
            type: 'GET',
            data: { id_usuario: usuario,
                id_nodo: nodo
            },
            beforeSend: function () {
                loader.show();
            },
            success: function (result) {
                change_event(usuario);
                var notify_doom = '<div class="notify_area" style="background-color: #B6DFB6;;margin: 20px;padding: 15px;border: 1px solid #346834;display::_none;">' +
                                  '<img src="@Url.Content("~/Content/images/close.png")" style="position: relative;float: right;right: -7px;float: right;top: -8px;" />' +
                                  '<span>' + result + '</span>' +
                                  '</div>'
                $("#notify_area").prepend(notify_doom);

                var notify = $(".notify_area");
                notify.has('img').on('click', function () {
                    notify.dequeue().fadeOut('slow');
                });
                notify.fadeIn('fast').delay(result.length * 90).fadeOut('slow', function () { $(this).remove(); })
            },
            complete: function () {
                loader.hide();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert('Ocurrió un error al intentar eliminar el nodo, favor de intentarlo de nuevo');
            }
        });
    }
    
</script>