<link href="@Url.Content("~/Content/TableStyle.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/usuarios_nodos.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery.tablesorter.pager.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.tablesorter.new.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.tablesorter.filter.js")" type="text/javascript"></script>

@model TramiteDigitalWeb.data_members.re_nodos_usuarios

@{
    ViewBag.Title = "Asignar nodos";
        
    List<TramiteDigitalWeb.data_members.ca_usuarios> lista_usuarios = ViewBag.Usuarios;
    List<TramiteDigitalWeb.data_members.ca_nodos> lista_nodos = ViewBag.Nodos;    
}

<h2>@ViewBag.Title</h2>
<hr style="width: 70%;float: left;display: block;"/>


@Html.ValidationSummary(true)

<div style="text-align:center;margin:50px 0">
        <fieldset>
            <legend>Usuarios</legend>
            <ol>
                @if (lista_usuarios.Count() > 0)
                {
                <li>
                    @Html.LabelFor(m => m.id_usuario)
                    @Html.DropDownListFor(m => m.id_usuario, new SelectList(ViewBag.Usuarios, "id", "usuario"), "-- Seleccione usuario --", new { id = "cmb_usuarios" })
                    @Html.ValidationMessageFor(m => m.id_usuario)
                </li>
                }
                <li>                    
                    @Html.LabelFor(m => m.id_nodo)                    
                    @Html.DropDownListFor(m => m.id_nodo, ViewBag.Nodos != null ? new SelectList(ViewBag.Nodos, "id", "nodo") : Enumerable.Empty<SelectListItem>(), ViewBag.Nodos != null ? null : "-- Seleccione nodo --", new { id = "cmb_nodos", disabled = "disabled" })
                    @Html.ValidationMessageFor(m => m.id_nodo)               
                </li>
            </ol>
        </fieldset>
</div>

<div>
    <table id="table" class="tablesorter_" style="width:100%;">
        <thead style="border-bottom: 1px solid #888;">
            <tr>
                <th>Nodo</th>
                <th>Url</th>
                <th>Usuario</th>
                <th>Activo</th>
                <th>Fecha/Hora de registro</th>
                <th></th>
            </tr>
        </thead>            
        <tbody>
            <tr>
                <td colspan=6 style="text-align: center;font-size: 32px;font-weight: bold;">[<span style="text-align: center;font-size: 20px;font-weight: bold;color:lightcoral;">No se encontraron nodos asignados...</span>]</td>
            </tr>
            
        </tbody>
    </table>
</div>

<script type="text/javascript">
    $(function () {
        $('#cmb_usuarios').on('change', function () {
            var usuarioseleccionado = $(this).val();
            var cmb_nodos = $("#cmb_nodos");

            cmb_nodos.empty();
            cmb_nodos.append(
                $('<option/>', {
                    value: 0,
                    text: "-- Seleccione nodo --"
                })
            );

            if (usuarioseleccionado > 0) {
                //Nodos no enlazados
                $.ajax({
                    url: '@Url.Action("Lista_de_Nodos_No_Enlazados_Ajax")',
                    type: 'GET',
                    data: { id_usuario: usuarioseleccionado },
                    beforeSend: function () {
                        $('#cmb_usuarios').attr('disabled', true).trigger("liszt:updated");
                        loader.show();
                    },
                    success: function (result) {
                        if (result.length > 0) {
                            $.each(result, function (index, item) {
                                cmb_nodos.append($('<option/>', { value: item.id, text: item.nodo }));
                            });
                            cmb_nodos.attr('disabled', false).trigger("liszt:updated");
                        } else {
                            cmb_nodos.append($('<option/>', { value: 0, text: "-- No se encontraron nodos para enlazar --" }));
                            cmb_nodos.attr('disabled', true).trigger("liszt:updated");
                        }
                    },
                    complete: function () {
                        $('#cmb_usuarios').attr('disabled', false).trigger("liszt:updated");
                        loader.hide();
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert(errorThrown);
                    }
                });
                //Nodos enlazados
                $.ajax({
                    url: '@Url.Action("Lista_de_Nodos_Enlazados_Ajax")',
                    type: 'GET',
                    data: { id_usuario: usuarioseleccionado },
                    beforeSend: function () {
                        loader.show();
                    },
                    success: function (result) {
                        console.log(result);
                        var tablearea = $("#table tbody");
                        tablearea.html('');
                        $.each(result, function (index, item) {
                            var action = '<a class="detalle" href="#"></a>'


                            tablearea.append('<tr><td>' + item.nodo +
                                             '</td><td>' + item.url_servicio_rest +
                                             '</td><td>' + item.usuario +
                                             '</td><td>' + item.activo + 
                                             '</td><td>' + item.fecha_registro +
                                             '</td><td><a class="detalle" href="#" class="action detalle_icon"></a></td></tr>')
                        });
                    },
                    complete: function () {
                        loader.hide();
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert(errorThrown);
                    }
                });
            } else {
                cmb_nodos.attr('disabled', true).trigger("liszt:updated");
            }
        }); //end $('#cmb_usuarios').on('change'...

    });
</script>