<link href="@Url.Content("~/Content/TableStyle.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery.tablesorter.pager.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.tablesorter.new.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.tablesorter.filter.js")" type="text/javascript"></script>

<script src="@Url.Content("~/Content/fancyapps-fancyBox-18d1712/lib/jquery.mousewheel-3.0.6.pack.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/fancyapps-fancyBox-18d1712/source/jquery.fancybox.js?v=2.1.5")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/fancyapps-fancyBox-18d1712/source/jquery.fancybox.css?v=2.1.5")" rel="stylesheet" type="text/css" media="screen" />

<!-- Add Button helper (this is optional) -->
<link href="@Url.Content("~/Content/fancyapps-fancyBox-18d1712/source/helpers/jquery.fancybox-buttons.css?v=1.0.5")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Content/fancyapps-fancyBox-18d1712/source/helpers/jquery.fancybox-buttons.js?v=1.0.5")" type="text/javascript"></script>

<!-- Add Thumbnail helper (this is optional) -->
<link href="@Url.Content("~/Content/fancyapps-fancyBox-18d1712/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Content/fancyapps-fancyBox-18d1712/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7")" type="text/javascript"></script>

<!-- Add Media helper (this is optional) -->
<script src="@Url.Content("~/Content/fancyapps-fancyBox-18d1712/source/helpers/jquery.fancybox-media.js?v=1.0.6")" type="text/javascript"></script>

@{
    ViewBag.Title = "Detalles del trámite";
    List<TramiteDigitalWeb.Models.classes.pa_CampostrazablesRegistradosporId_ma_digitalResult> campostrazables = ViewBag.CamposTrazables;
    List<TramiteDigitalWeb.Models.classes.pa_RegistrosDigitalesRegistradosporId_ma_digitalResult> registrosdigital = ViewBag.RegistrosDigital;

    List<TramiteDigitalWeb.Models.classes.ErrorConsulta> errores = new List<TramiteDigitalWeb.Models.classes.ErrorConsulta>();
    if (ViewBag.CamposTrazablesErrors != null){  
        errores.AddRange(ViewBag.CamposTrazablesErrors);
    }
    if (ViewBag.RegistrosDigitalErrors != null)   {
        errores.AddRange(ViewBag.RegistrosDigitalErrors);    
    }
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <div>
                <h2>Valores trazables</h2>
                <div>
                    <span>Filtrar por campo trazable:</span>
                    <input name="filter" id="filter-box_ct" value="" maxlength="30" size="30" type="text">
                    <input id="filter-clear-button_ct" type="submit" value="Limpiar"/>
                </div>
                <table id="table_ct" class="tablesorter_" style="width:100%;">
                    <thead style="border-bottom: 1px solid #888;">
                        <tr>
                            <th>Campo trazable</th>
                            <th>Tamanio_Caracteres</th>
                            <th>Mascara</th>
                            <th>Valor trazable</th>
                        </tr>
                    </thead>
                    <tbody>                    
                        @if (campostrazables.Count() > 0)
                        {                            
                            foreach (TramiteDigitalWeb.Models.classes.pa_CampostrazablesRegistradosporId_ma_digitalResult item in campostrazables)
                            {
                                string style = item.es_principal ? "background-color: #aaa!Important;" : "";
                                <tr>
                                    <td style="@style">
                                        @Html.DisplayFor(modelItem => item.Nombre)
                                    </td>
                                    <td style="@style">
                                        @Html.DisplayFor(modelItem => item.Tamanio_Caracteres)
                                    </td>
                                    <td style="@style">
                                        @Html.DisplayFor(modelItem => item.Mascara)
                                    </td>
                                    <td style="@style">
                                        @Html.DisplayFor(modelItem => item.valor_trazable)
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td>
                                    No se encontraron campos trazables...
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div id="pager_ct">
                    <form>
                        <img src="@Url.Content("~/Content/images/first.png")" class="first" />
                        <img src="@Url.Content("~/Content/images/prev.png")" class="prev" />
                        <input type="text" class="pagedisplay" readonly />
                        <img src="@Url.Content("~/Content/images/next.png")" class="next" />
                        <img src="@Url.Content("~/Content/images/last.png")" class="last" />
                        <select class="pagesize">
                            <option selected="selected" value="20">20</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                            <option value="200">200</option>
                            <option value="500">500</option>
                        </select>
                        <span style="float:right ;font-size: 16px;"><span style="font-size: 24px;font-weight: bold;">[<span id="totalregistros_ct" style="color: #F00;font-size: 18px;padding:0 5px;">@campostrazables.Count()</span>]</span> registro(s) encontrado(s)</span>
                    </form>
                </div>     
                <p>
                    <div style="float:right;width:50%;text-align:right;border-top:1px solid #888;padding: 3px;">
                        <span style="background-color: #aaa;">&nbsp;&nbsp;&nbsp;&nbsp;</span><span>&nbsp;Campo trazable principal</span>            
                    </div>
                </p>
            </div>
        </div>
    </section>
}
<div>
    <h2>Registros Digitales</h2>
    <div>
        <span>Filtrar por documento:</span>
        <input name="filter" id="filter-box" value="" maxlength="30" size="30" type="text">
        <input id="filter-clear-button" type="submit" value="Limpiar"/>
    </div>
    <table class="tablesorter">
        <thead>
            <tr>
                <th>Clasificación de documento</th>
                <th>Documento</th>
                <th>Origen</th>
                <th>Fecha/Hora creación</th>
                <th>Valor trazable</th>
                <th>Imagen</th>
            </tr>
        </thead>
        <tbody>                    
            @if (registrosdigital.Count() > 0)
            {
                foreach (TramiteDigitalWeb.Models.classes.pa_RegistrosDigitalesRegistradosporId_ma_digitalResult item in registrosdigital)
                {
                    <tr>
                        <td style="vertical-align:middle;">
                            @Html.DisplayFor(modelItem => item.clasificaciondocumento)
                        </td>
                        <td style="vertical-align:middle;">
                            @Html.DisplayFor(modelItem => item.Documento)
                        </td>
                        <td style="vertical-align:middle;">
                            @Html.DisplayFor(modelItem => item.Origen)
                        </td>
                        <td style="vertical-align:middle;">
                            @Html.DisplayFor(modelItem => item.fecha_hora_creacion)
                        </td>
                        <td style="vertical-align:middle;">
                            @Html.DisplayFor(modelItem => item.valor_trazable)
                        </td>
                        <td style="vertical-align:middle;text-align: center;">
                            <a class="fancyframe" href="@Href("/Home/OpenImage",new { id_de_digital = @item.id, id_nodo = ViewBag.IdNodo })" title="@item.clasificaciondocumento|@item.Documento|@item.Origen|@item.fecha_hora_creacion|@item.valor_trazable">
                                <img  src="data:image/jpg;base64,@(Convert.ToBase64String(item.thumbnail))" alt="@item.Documento" title="@item.Documento" width="100px" height="100px" />
                            </a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td>
                        No se encontraron registros...
                    </td>
                </tr>
            }
        </tbody>
    </table> 
    <div id="pager">
        <form>
            <img src="@Url.Content("~/Content/images/first.png")" class="first" />
            <img src="@Url.Content("~/Content/images/prev.png")" class="prev" />
            <input type="text" class="pagedisplay" readonly />
            <img src="@Url.Content("~/Content/images/next.png")" class="next" />
            <img src="@Url.Content("~/Content/images/last.png")" class="last" />
            <select class="pagesize">
                <option selected="selected" value="20">20</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="200">200</option>
                <option value="500">500</option>
            </select>
            <span style="float:right ;font-size: 16px;"><span style="font-size: 24px;font-weight: bold;">[<span id="totalregistros" style="color: #F00;font-size: 18px;padding:0 5px;">@registrosdigital.Count()</span>]</span> registro(s) encontrado(s)</span>
        </form>
    </div>           
</div>

<a href="javascript:window.history.back()" />Regresar</a>


<script type="text/javascript">
    $(function () {
        $("table.tablesorter").tablesorter({
            widgets: ['zebra'],
            widthFixed: true,
            sortList: [[0, 0]],
            headers: {
                5: {
                    sorter: false
                }
            }
        })
        .tablesorterPager({
            container: $("#pager"),
            size: $(".pagesize option:selected").val()
        })
        .tablesorterFilter({
            filterContainer: "#filter-box",
            filterClearContainer: "#filter-clear-button",
            filterColumns: [1]
        });

        $("table.tablesorter").on("filterEnd", function () {
            $("#totalregistros").html($("table.tablesorter tbody tr").length);
        });


        $("#table_ct").tablesorter()
        .tablesorterPager({
            container: $("#pager_ct"),
            size: $(".pagesize_ct option:selected").val()
        })
        .tablesorterFilter({
            filterContainer: "#filter-box_ct",
            filterClearContainer: "#filter-clear-button_ct",
            filterColumns: [0]
        });

        $("#table_ct").on("filterEnd", function () {
            $("#totalregistros_ct").html($("#table_ct tbody tr").length);
        });

        $('.fancyframe').fancybox({
            type: 'iframe',
            autoResize: true,
            fitToView: false,
            width: '60%',
            height: '80%',
            autoSize: false,
            closeClick: false,
            openEffect: 'none',
            closeEffect: 'none',
            helpers: {
                title: { type: 'inside' }
            },
            afterLoad: function () {
                var titulo = this.title.split('|');
                this.title = '<span><span style="font-size: 22px;font-weight: bold;">' + titulo[1] +
                             ' [ <span style="font-size: 14px;font-weight: normal;color: #888;">' + titulo[0] +
                             '</span> ] [ <span style="font-size: 14px;font-weight: normal;color: #888;">' + titulo[2] +
                             '</span> ] [ <span style="font-size: 14px;font-weight: normal;color: red;">' + titulo[4] + '</span> ]</span>' +                             
                             '<span style="float:right;font-size: 14px;font-weight: bold;color:red;">' + titulo[3] + '</span> ';
            }
        });

    });
</script>