<link href="@Url.Content("~/Content/TableStyle.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery.tablesorter.pager.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.tablesorter.new.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.tablesorter.filter.js")" type="text/javascript"></script>

<script src="@Url.Content("~/Content/fancyapps-fancyBox-18d1712/lib/jquery.mousewheel-3.0.6.pack.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/fancyapps-fancyBox-18d1712/source/jquery.fancybox.js?v=2.1.5")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/fancyapps-fancyBox-18d1712/source/jquery.fancybox.css?v=2.1.5")" rel="stylesheet" type="text/css" media="screen" />

<!-- Add Button helper (this is optional) -->
<link href="@Url.Content("~/Content/fancyapps-fancyBox-18d1712/source/helpers/jquery.fancybox-buttons.css?v=1.0.5")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Content/fancyapps-fancyBox-18d1712/source/helpers/jquery.fancybox-buttons.js?v=1.0.5")" type="text/javascript"></script>

<!-- Add Thumbnail helper (this is optional) -->
<link href="@Url.Content("~/Content/fancyapps-fancyBox-18d1712/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Content/fancyapps-fancyBox-18d1712/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7")" type="text/javascript"></script>

<!-- Add Media helper (this is optional) -->
<script src="@Url.Content("~/Content/fancyapps-fancyBox-18d1712/source/helpers/jquery.fancybox-media.js?v=1.0.6")" type="text/javascript"></script>

<style type="text/css">
    #master {background: #B3B3B3;border-color: #F00;height: 20px;width: 50%;position: fixed;bottom: 20px;right: 30px;}
    #master .ui-slider-range { background: #E25252; }
    #master .ui-slider-handle { border-color: #F00;background: #B3B3B3; height: 29px; width: 25px;}
</style>


@{
    int tamanio_imagen = int.Parse(System.Configuration.ConfigurationManager.AppSettings["tamanio_imagen"]);
    int tamanio_loader_img = int.Parse(System.Configuration.ConfigurationManager.AppSettings["tamanio_loader_img"]);
    
    ViewBag.Title = "Detalles del trámite";
    List<TramiteDigitalWeb.Models.classes.pa_CampostrazablesRegistradosporId_ma_digitalResult> campostrazables = ViewBag.CamposTrazables;
    List<TramiteDigitalWeb.Models.classes.pa_RegistrosDigitalesRegistradosporId_ma_digitalResult> registrosdigital = ViewBag.RegistrosDigital;

    List<TramiteDigitalWeb.Models.classes.ErrorConsulta> errores = new List<TramiteDigitalWeb.Models.classes.ErrorConsulta>();
    if (ViewBag.CamposTrazablesErrors != null){  
        errores.AddRange(ViewBag.CamposTrazablesErrors);
    }
    if (ViewBag.RegistrosDigitalErrors != null)   {
        errores.AddRange(ViewBag.RegistrosDigitalErrors);    
    }
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <div>
                <h2>Valores trazables</h2>
                <div>
                    <span>Filtrar por campo trazable:</span>
                    <input name="filter" id="filter-box_ct" value="" maxlength="30" size="30" type="text">
                    <input id="filter-clear-button_ct" type="submit" value="Limpiar"/>
                </div>
                <table id="table_ct" class="tablesorter_" style="width:100%;">
                    <thead style="border-bottom: 1px solid #888;">
                        <tr>
                            <th>Campo trazable</th>
                            <th>Tamanio_Caracteres</th>
                            <th>Mascara</th>
                            <th>Valor trazable</th>
                        </tr>
                    </thead>
                    <tbody>                    
                        @if (campostrazables.Count() > 0)
                        {                            
                            foreach (TramiteDigitalWeb.Models.classes.pa_CampostrazablesRegistradosporId_ma_digitalResult item in campostrazables)
                            {
                                string style = item.es_principal ? "background-color: #aaa!Important;" : "";
                                <tr>
                                    <td style="@style">
                                        @Html.DisplayFor(modelItem => item.Nombre)
                                    </td>
                                    <td style="@style">
                                        @Html.DisplayFor(modelItem => item.Tamanio_Caracteres)
                                    </td>
                                    <td style="@style">
                                        @Html.DisplayFor(modelItem => item.Mascara)
                                    </td>
                                    <td style="@style">
                                        @Html.DisplayFor(modelItem => item.valor_trazable)
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td>
                                    No se encontraron campos trazables...
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div id="pager_ct">
                    <form>
                        <img src="@Url.Content("~/Content/images/first.png")" class="first" />
                        <img src="@Url.Content("~/Content/images/prev.png")" class="prev" />
                        <input type="text" class="pagedisplay" readonly />
                        <img src="@Url.Content("~/Content/images/next.png")" class="next" />
                        <img src="@Url.Content("~/Content/images/last.png")" class="last" />
                        <select class="pagesize">
                            <option selected="selected" value="20">20</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                            <option value="200">200</option>
                            <option value="500">500</option>
                        </select>
                        <span style="float:right ;font-size: 16px;"><span style="font-size: 24px;font-weight: bold;">[<span id="totalregistros_ct" style="color: #F00;font-size: 18px;padding:0 5px;">@campostrazables.Count()</span>]</span> registro(s) encontrado(s)</span>
                    </form>
                </div>                     
                <div style="float:right;width:50%;text-align:right;border-top:1px solid #888;padding: 3px;">
                    <span style="background-color: #aaa;">&nbsp;&nbsp;&nbsp;&nbsp;</span><span>&nbsp;Campo trazable principal</span>            
                </div>                
            </div>
        </div>
    </section>
}

<div id="master" style="z-index:999;"><span style="float:right;margin: 0 10px 0 0;font-weight: bold;color: #383834;line-height: 19px;">Deslizár para amuentar tamaño de imagenes...</span></div>

<a href="javascript:window.history.back()" style="float: right ;text-decoration: none;margin-top: 5px;background-color: lightcoral;border: 1px solid #787878;cursor: pointer;font-size: 1.2em;font-weight: 600;padding: 6px;margin-right: 8px;width: auto;" >Regresar a lista</a>

<div style="margin-bottom: 50px;">
    <h2>Registros Digitales</h2>

    <div style="margin-top: 50px;text-align: center;">
        @if (registrosdigital.Count() > 0)
        {
            string origen = null;
            foreach (TramiteDigitalWeb.Models.classes.pa_RegistrosDigitalesRegistradosporId_ma_digitalResult item in registrosdigital)
            {
                if (origen != item.Origen) { 
                    <div style="margin: 80px 0 10px 0;font-size: 24px;font-weight: bold;color: #5C5B5B;border-bottom: 1px solid #B6B6B6;width: 80%;text-align: left;">
                        @item.Origen
                    </div>                
                }
                
                    <div style="border: 1px solid #000;background-color: #DBDBDB;width: auto;height: auto;display: inline-block;padding: 5px;margin:5px;text-align: left;">
                        <a class="fancyframe" href="@Url.Action("OpenImage", "Home",new { id_de_digital = @item.id, id_nodo = ViewBag.IdNodo })" title="@item.clasificaciondocumento|@item.Documento|@item.Origen|@item.fecha_hora_creacion|@item.valor_trazable">
                            <img style="border: 1px solid #000;" src="data:image/jpg;base64,@(Convert.ToBase64String(item.thumbnail))" alt="@item.Documento" title="@item.Documento" width="@tamanio_imagen px" height="@tamanio_imagen px" />
                        </a>
                        <div>                    
                            <div>
                                <span style="font-size: 16px;font-weight: bold;"> @item.Documento </span>                    
                                <span style="font-size: 16px;font-weight: bold;float:right"> [ <span style="font-size: 12px;font-weight: normal;color: #5A5A5A;"> @item.clasificaciondocumento </span> ] </span>
                            </div>                    
                            <div>
                                <span style="font-size: 16px;font-weight: bold;"> [ <span style="font-size: 12px;font-weight: normal;color: #5A5A5A;"> @item.Origen </span> ] </span>
                                <span style="font-size: 16px;font-weight: bold;"> [ <span style="font-size: 12px;font-weight: normal;color: #5A5A5A;"> @item.valor_trazable </span> ] </span>
                            </div>
                            <div>
                                <span style="float:right;font-size: 12px;font-weight: bold;color:red;"> @item.fecha_hora_creacion </span>
                            </div>
                        </div>
                    </div>  
                origen = item.Origen;
            }
        }
    </div>
</div>

<a href="javascript:window.history.back()" style="float: right ;text-decoration: none;margin-top: 5px;background-color: lightcoral;border: 1px solid #787878;cursor: pointer;font-size: 1.2em;font-weight: 600;padding: 6px;margin-right: 8px;width: auto;" >Regresar a lista</a>


<script type="text/javascript">    
    $(function () {
        $("#master").slider({
            value: @tamanio_imagen,
            max: parseInt($('.main-content').css('width')),
            min: @tamanio_imagen,
            orientation: "horizontal",
            range: "min",
            animate: true,
            slide: function (event, ui) {
                $(".fancyframe > img").attr('width', ui.value);
                $(".fancyframe > img").attr('height', ui.value);
                var margen = (ui.value / 2) - (@tamanio_loader_img / 2);
                $("img[name*='loading_image_ajax_']").css('margin-top', margen + 'px');
                $("img[name*='loading_image_ajax_']").css('margin-left', margen + 'px');

                //var new_tam_loader_img = (ui.value - @tamanio_imagen) + @tamanio_loader_img;

                //$("img[name*='loading_image_ajax_']").attr('width', new_tam_loader_img);
                //$("img[name*='loading_image_ajax_']").attr('height', new_tam_loader_img);
            }
        });

        $("#table_ct").tablesorter()
        .tablesorterPager({
            container: $("#pager_ct"),
            size: $(".pagesize_ct option:selected").val()
        })
        .tablesorterFilter({
            filterContainer: "#filter-box_ct",
            filterClearContainer: "#filter-clear-button_ct",
            filterColumns: [0]
        });

        $("#table_ct").on("filterEnd", function () {
            $("#totalregistros_ct").html($("#table_ct tbody tr").length);
        });

        $('.fancyframe').fancybox({
            type: 'iframe',
            autoResize: true,
            fitToView: false,
            width: '60%',
            height: '80%',
            autoSize: false,
            closeClick: false,
            openEffect: 'none',
            closeEffect: 'none',
            helpers: {
                title: { type: 'inside' }
            },
            afterLoad: function () {
                var titulo = this.title.split('|');
                this.title = '<span><span style="font-size: 22px;font-weight: bold;">' + titulo[1] +
                             ' [ <span style="font-size: 14px;font-weight: normal;color: #888;">' + titulo[0] +
                             '</span> ] [ <span style="font-size: 14px;font-weight: normal;color: #888;">' + titulo[2] +
                             '</span> ] [ <span style="font-size: 14px;font-weight: normal;color: red;">' + titulo[4] + '</span> ]</span>' +
                             '<span style="float:right;font-size: 14px;font-weight: bold;color:red;">' + titulo[3] + '</span> ';
            }
        });


        CargaImagenes();

    });

    function CargaImagenes() {
        var hv = $('.fancyframe');
        var imgs = $('.fancyframe > img');

        $.each(hv, function (index, item) {
            var href = item.href.split("?");
            href = href[1].split("&");
            id_de_digital = href[0].split("=");
            id_de_digital = id_de_digital[1];
            id_nodo = href[1].split("=");
            id_nodo = id_nodo[1];

            var parent = $(this).parent();
            var margen = ((imgs[index].height / 2) - (@tamanio_loader_img / 2));
            parent.prepend('<img name="loading_image_ajax_' + index + '" title="Obteniendo imagen..." style="display_none;float: left;position: absolute;margin-top:' + margen + 'px;margin-left:' + margen + 'px;" src="@Url.Content("~/Content/images/ajax_loader_red_48.gif")" width="' + @tamanio_loader_img + '" height="' + @tamanio_loader_img + 'px" />');

            $.ajax({
                url: '@Url.Action("OpenImageAjax")',
                type: 'GET',
                data: { id_de_digital: id_de_digital,
                    id_nodo: id_nodo
                },
                beforeSend: function () {
                    $("img[name='loading_image_ajax_" + index + "']").fadeIn("fast");
                },
                success: function (result) {
                    imgs[index].src = "data:image/jpg;base64," + result;
                },
                complete: function () {
                    $("img[name='loading_image_ajax_" + index + "']").fadeOut('slow');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $("img[name='loading_image_ajax_" + index + "']").attr('title', 'No pudo ser recuperada la imagen').attr('src', '@Url.Content("~/Content/images/attention.png")').fadeIn("fast");
                }
            }); //end ajax
        });  //end each
    } //end function

</script>