@model TramiteDigitalWeb.Models.ConsultasViewModels
@{
    ViewBag.Title = "Consulta de Trámites";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Consultas a los tramites digitales.
            </p>
        </div>
    </section>
}
<div style="text-align:center;margin:50px 0">
    @using (Html.BeginForm(FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Formulario de búsqueda</legend>
            <ol>
                <li>
                    @Html.LabelFor(m=>m.NodoSeleccionado)
                    @Html.DropDownListFor(m => m.NodoSeleccionado, new SelectList(ViewBag.Nodos, "id", "nodo"), new { id = "nodos" })
                </li>
                <li id="area_expedientes" style="display:none" >
                    @Html.LabelFor(m=>m.ExpedienteSeleccionado)
                    @Html.DropDownListFor(m => m.ExpedienteSeleccionado, Enumerable.Empty<SelectListItem>(), "-- Seleccione el Expediente --", new { id = "expedientes" })
                </li>
                <li id="area_valortrazable" style="display:none">
                    @Html.LabelFor(m => m.Valor_Trazable)
                    @Html.TextBoxFor(m => m.Valor_Trazable)
                    @Html.ValidationMessageFor(m => m.Valor_Trazable)
                </li>
            </ol>
            <input type="submit" value="Buscar" style="float: right;" />
        </fieldset>
    }
</div>
<div>
    <table>
        <tr>
            <th>
                Trámite
            </th>
            <th>
                Expediente
            </th>
            <th>
                Fecha/Hora de creación
            </th>
            <th></th>
        </tr>
    @{
    /* if (ViewBag.Response != null)
     {
        foreach (TramiteDigitalWeb.data_members.pa_ConsultaTramitesporValorTrazableResult item in ViewBag.Response as IEnumerable<TramiteDigitalWeb.data_members.pa_ConsultaTramitesporValorTrazableResult>)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.tramite)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.expediente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha_hora_creacion)
                </td>
                <td>
                    @Html.ActionLink("Abrir", "Details", new { id = item.id_ma_digital })
                </td>
            </tr>
        }   
     }*/
    }
    </table>
</div>

<script type="text/javascript">
    $(function () {
        $("#nodos").change(function () {
            var nodoseleccionado = $(this).val();
            if (nodoseleccionado != null && nodoseleccionado != '' && nodoseleccionado != -1) {

                $("#area_valortrazable").show();

                var Expedientes = $('#expedientes');
                Expedientes.empty();
                Expedientes.append(
                    $('<option/>', {
                        value: -1,
                        text: "Todos los Expedientes"
                    })
                );

                if (nodoseleccionado == 0) {
                    $("#area_expedientes").hide();
                    return;
                }

                $.ajax({
                    url: '@Url.Action("ObtenExpedientes")',
                    type: 'GET',
                    data: { id_nodo: nodoseleccionado },
                    success: function (result) {
                        $.each(result, function (index, item) {
                            //console.log(item);
                            Expedientes.append(
                                $('<option/>', {
                                    value: item.id,
                                    text: item.Descripcion
                                })
                            );
                            $("#area_expedientes").show();
                        });
                    }
                });
                
            } else {
                $("#area_expedientes").hide();
                $("#area_valortrazable").hide();
            }
        });
    });
</script>