<link href="@Url.Content("~/Content/HomeIndex.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/TableStyle.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery.tablesorter.pager.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.tablesorter.new.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.tablesorter.filter.js")" type="text/javascript"></script>

@model TramiteDigitalWeb.Models.ConsultasViewModels
@{
    ViewBag.Title = "Consulta de Trámites";
    List<TramiteDigitalWeb.Models.classes.ConsultaStructure> data = ViewBag.Response;
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>

            <ol class="round">
                <li class="one">
                    <h3>Seleccionar NODO</h3>
                    El combo de NODOS muestra los repositorios de información en los cuales se puede consultar la información deseada. 
                    Dicha lista se filtra únicamente con los nodos asignados al usuario sesionado.
                    <br>
                    Cuando se selecciona la opción "TODOS LOS NODOS", el sistema buscara en todos los repositorios que el usuario sesionado tenga vinculados.
                </li>

                <li class="two">
                    <h3>Seleccionar EXPEDIENTE</h3>
                    Al seleccionar un NODO el combo de EXPEDIENTES filtrará la lista de los mismos que se encuentren disponibles para su consulta. 
                    Cuando se selecciona la opción "TODOS LOS EXPEDIENTES" y realizar la busqueda, el sitio obtendrá la información referentes a todos los expedientes 
                    del o los repositorios segun la opción que se haya seleccionado en el combo de NODOS.
                </li>

                <li class="three">
                    <h3>Valor trazable</h3>
                    Corresponte al valor que identifica al tramite a buscar.
                </li>
            </ol>    
        </div>
    </section>
}

@Html.ValidationSummary(true)

<div style="text-align:center;margin:50px 0">
    @using (Html.BeginForm("Index","Home",FormMethod.Post, new { id = "formulario" }))
    {
        @Html.AntiForgeryToken()
        
        <fieldset class="bloque">
            <legend>Formulario de búsqueda</legend>
            <ol>
                <li>
                    @Html.LabelFor(m => m.NodoSeleccionado)
                    @Html.DropDownListFor(m => m.NodoSeleccionado, new SelectList(ViewBag.Nodos, "id", "nodo"), "-- Seleccione nodo --", new { id = "nodos" })
                    @Html.ValidationMessageFor(m => m.NodoSeleccionado)
                </li>
                <li>                    
                    @Html.LabelFor(m => m.ExpedienteSeleccionado)                    
                    @Html.DropDownListFor(m => m.ExpedienteSeleccionado, ViewBag.Expedientes != null ? new SelectList(ViewBag.Expedientes, "id", "descripcion") : Enumerable.Empty<SelectListItem>(), ViewBag.Expedientes != null ? null : "-- Seleccione expediente --", new { id = "expedientes" })
                    @Html.ValidationMessageFor(m => m.ExpedienteSeleccionado)
                </li>
                <li>
                    @Html.LabelFor(m => m.Valor_Trazable)
                    @Html.TextBoxFor(m => m.Valor_Trazable, new { @placeholder = "Indicar valor trazable" })
                    @Html.ValidationMessageFor(m => m.Valor_Trazable)
                </li>
            </ol>
            
            <input type="submit" value="Buscar" style="float: right;">
        </fieldset>
    }
</div>
@if (ViewBag.ResponseErrors != null )
{    
    <fieldset style="border: 1px solid; padding:5px;">
        <legend style="display:block;font-size:xx-large;">[<span style="color:Red;font-size:x-large; font-weight:bold;">Errores</span>]</legend>
        <ol>
            @foreach (TramiteDigitalWeb.Models.classes.ErrorConsulta item in ViewBag.ResponseErrors)
            {
                <li style="padding-left:15px;" >
                    El nodo [<span style="padding: 0 3px;"><b>@item.nodo</b></span>] respondió lo siguiente:
                    <div style="padding: 5px 50px;">                    
                        <div style="display:block">
                            <div style="width:150px; display:inline-block;">
                                Código de estatus:
                            </div>
                            <div style="display:inline-block; font-weight:bold; color:Red;">
                                @item.StatusCode
                            </div>
                        </div>
                        <div style="display:block">
                            <div style="width:150px; display:inline-block;">
                                Descripción del estatus:
                            </div>
                            <div style="display:inline-block; font-weight:bold; color:Red;">
                                @item.StatusDescription
                            </div>
                        </div>
                    </div>
                </li>                
            }
        </ol>
    </fieldset>
}
<div>
        @if (ViewBag.Response != null)
        { 
            <div>
                <span>Filtrar por tramite:</span>
                <input name="filter" id="filter-box" value="" maxlength="30" size="30" type="text">
                <input id="filter-clear-button" type="submit" value="Limpiar"/>
            </div>
            <table class="tablesorter">
                <thead>
                    <tr>
                        <th>Trámite</th>
                        <th>Expediente</th>
                        <th>Nodo</th>
                        <th>Fecha/Hora de creación</th>
                        <th style="width:50px!Important;"></th>
                    </tr>
                </thead>
                <tbody>                    
                    @if (data.Count() > 0)
                    {
                        foreach (TramiteDigitalWeb.Models.classes.ConsultaStructure item in data)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.tramite)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.expediente)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.nodo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.fecha_hora_creacion)
                                </td>
                                <td style="width:50px!Important;">
                                    @Html.ActionLink(" ", "Details",
                                        new { id_ma_digital = item.id_ma_digital, id_nodo = item.id_nodo },
                                        new { @class = "abrirtramite", title = "Abrir trámite", style = "padding: 0 7px; background: url('" + Url.Content("~/Content/images/detalle.png") + "') no-repeat center right; display:inline-block; height:16px; width:16px;" })
                                    @Html.ActionLink(" ", "Gallery",
                                        new { id_ma_digital = item.id_ma_digital, id_nodo = item.id_nodo },
                                        new { @class = "abrirtramite", title = "Abrir trámite", style = "padding: 0 7px; background: url('" + Url.Content("~/Content/images/picture.png") + "') no-repeat center right; display:inline-block; height:16px; width:16px;" })
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan=5 style="text-align: center;font-size: 1.5em;font-weight: bold;">
                                No se encontraron registros...
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div id="pager">
                <form>
                    <img src="@Url.Content("~/Content/images/first.png")" class="first" />
                    <img src="@Url.Content("~/Content/images/prev.png")" class="prev" />
                    <input type="text" class="pagedisplay" readonly />
                    <img src="@Url.Content("~/Content/images/next.png")" class="next" />
                    <img src="@Url.Content("~/Content/images/last.png")" class="last" />
                    <select class="pagesize">
                        <option selected="selected" value="20">20</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="200">200</option>
                        <option value="500">500</option>
                    </select>
                    <span style="float:right ;font-size: 16px;"><span style="font-size: 24px;font-weight: bold;">[<span id="totalregistros" style="color: #F00;font-size: 18px;padding:0 5px;">@data.Count()</span>]</span> registro(s) encontrado(s)</span>
                </form>
            </div>
        }
</div>

<script type="text/javascript">
    $(function () {
        $("table.tablesorter").tablesorter({
            widgets: ['zebra'],
            widthFixed: true,
            sortList: [[0, 0]],
            headers: {
                4: {
                    sorter: false
                }
            }
        })
        .tablesorterPager({
            container: $("#pager"),
            size: $(".pagesize option:selected").val()
        })
        .tablesorterFilter({
            filterContainer: "#filter-box",
            filterClearContainer: "#filter-clear-button",
            filterColumns: [0]
        });

        $("table.tablesorter").on("filterEnd", function () {
            $("#totalregistros").html($("table.tablesorter tbody tr").length);
        });


        $("#formulario").submit(function () {
            loader.show();
        })

        $("#nodos").change(function () {
            var nodoseleccionado = $(this).val();

            var Expedientes = $('#expedientes'); //combo de espedientes
            Expedientes.empty(); //limpiar combo de expedientes

            if (nodoseleccionado != null && nodoseleccionado != '' && nodoseleccionado != -1) {
                if (nodoseleccionado != 1000) {
                    $.ajax({
                        url: '@Url.Action("ObtenExpedientes")',
                        type: 'GET',
                        data: { id_nodo: nodoseleccionado },
                        beforeSend: function () {
                            $("#nodos").attr('disabled', true).trigger("liszt:updated");
                            Expedientes.attr('disabled', true).trigger("liszt:updated");
                            $("#refresh_loader").show();
                            loader.show();
                        },
                        success: function (result) {
                            $.each(result, function (index, item) {
                                Expedientes.append(
                                    $('<option/>', {
                                        value: item.id,
                                        text: item.Descripcion
                                    })
                                );
                            });
                            Expedientes.append(
                                $('<option/>', {
                                    value: 1000,
                                    text: "Todos los Expedientes"
                                }) // aregrar opcion todos los expedientes
                            );
                        },
                        complete: function () {
                            loader.hide();
                            Expedientes.attr('disabled', false).trigger("liszt:updated");
                            $("#nodos").attr('disabled', false).trigger("liszt:updated");                            
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            alert(errorThrown);
                        }
                    });
                } else {
                    Expedientes.append(
                        $('<option/>', {
                            value: 1000,
                            text: "Todos los Expedientes"
                        }) // aregrar opcion todos los expedientes
                    );
                }
            } else {
                Expedientes.append(
                    $('<option/>', {
                        value: 0,
                        text: "-- Seleccione expediente --"
                    }) // aregrar opcion todos los expedientes
                );
            }
        });

        $(".abrirtramite").on("click", function () {
            loader.show();
        });
    });
</script>