@model TramiteDigitalWeb.Models.ConsultasViewModels
@{
    ViewBag.Title = "Consulta de Trámites";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Consultas a los tramites digitales.
            </p>
        </div>
    </section>
}
<div style="text-align:center;margin:50px 0">
    @using (Html.BeginForm(FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Formulario de inicio de sesión</legend>
            <ol>
                <li>
                    @Html.LabelFor(m=>m.ExpedienteSeleccionado)
                    @Html.DropDownListFor(m => m.ExpedienteSeleccionado, new SelectList(ViewBag.Expedientes, "id", "Descripcion"), new { id = 0 })
                </li>
                <li>
                    @Html.LabelFor(m => m.Valor_Trazable)
                    @Html.TextBoxFor(m => m.Valor_Trazable)
                    @Html.ValidationMessageFor(m => m.Valor_Trazable)
                </li>
            </ol>
            <input type="submit" value="Buscar" style="float: right;" />
        </fieldset>
    }
</div>
<div>
    <table>
        <tr>
            <th>
                Trámite
            </th>
            <th>
                Expediente
            </th>
            <th>
                Fecha/Hora de creación
            </th>
            <th></th>
        </tr>
    @{
     if (ViewBag.Response != null)
     {
        foreach (TramiteDigitalWeb.data_members.pa_ConsultaTramitesporValorTrazableResult item in ViewBag.Response as IEnumerable<TramiteDigitalWeb.data_members.pa_ConsultaTramitesporValorTrazableResult>)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.tramite)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.expediente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha_hora_creacion)
                </td>
                <td>
                    @Html.ActionLink("Abrir", "Details", new { id = item.id_ma_digital })
                </td>
            </tr>
        }   
     }
    }
    </table>
</div>

