<!DOCTYPE html>
<html lang="es">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - @System.Configuration.ConfigurationManager.AppSettings["Titulo_Web"]</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/themes/base/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        
        <link href="@Url.Content("~/Content/Loaders.css")" rel="stylesheet" type="text/css" />
    </head>
    <body>            
        <script type="text/javascript">
            var loader = {
                struct: '<div id="refresh_loader"><div id="refresh_loader_back"></div><img class="float-left" src="@Url.Content("~/Content/images/ajax_loader_gray_512.gif")" /><span class="float-left">Cargando, favor de esperar...</span></div>',
                loaderobj: null,
                init: function () {
                    $('body').prepend(this.struct);
                    this.resize();
                    this.loaderobj = $('#refresh_loader');
                },
                show: function () {
                    var newtop = $('body').scrollTop() + 50;
                    this.loaderobj.css({ top: newtop });
                    this.loaderobj.show();
                },
                hide: function () {
                    this.loaderobj.hide();
                },
                resize: function () {
                    var window_width = $(window).width();
                    var window_height = $(window).height();
                    $('#refresh_loader_back').addClass('refresh_loader_back').css({ width: window_width }).css({ height: window_height });
                }
            };

            loader.init();

            $(function () {
                $(window).scroll(function () {
                    var newtop = $('body').scrollTop() + 50;
                    loader.loaderobj.stop().animate({ 'top': newtop }, 200);
                });

                window.onresize = function () {
                    loader.resize();
                };

                loader.hide();
                //alert('hide loader');
            });

            function resize() {
                
            }

            var redirigiendo = false;
            function opc_menu(opc) {
                if (redirigiendo) return null;

                var redirect = null;
                switch (opc) {
                    case 1: redirect = '@Url.Action("Index", "Home")'; break;
                    case 2: redirect = '@Url.Action("usuarios", "administracion")'; break;
                    case 3: redirect = '@Url.Action("nodos", "administracion")'; break;
                    case 4: redirect = '@Url.Action("usuarios_nodos", "administracion")'; break;
                    case 5: redirect = '@Url.Action("Menu", "Home")'; break;
                }
                if (redirect != null) {
                    redirigiendo = true;
                    window.location.href = redirect;
                }
                return;
            }
    
        </script>


        <header>
            <div class="content-wrapper">
                <img class="float-left" src="@Url.Content("~/Content/images/" + System.Configuration.ConfigurationManager.AppSettings["LogoTitulo_Web"])" style="display: inline-table;height: 150px;max-width: 150px;" />
                <div class="float-left site-title" style="width: 50%;max-height: 150px;padding: 0 0 0 5px;">
                    @System.Configuration.ConfigurationManager.AppSettings["Titulo_Web"] 
                </div>
                <div class="float-right" style="position: relative;top: 55px;">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    @if (Request.IsAuthenticated)
                    {
                    <nav style="float:right;">
                        <ul id="menu">
                            <li onclick="opc_menu(1);">@Html.ActionLink("Buscar", "Index", "Home")</li>
                            @if (Convert.ToBoolean(User.Identity.Name.Split('~')[2]))
                            {
                                <li onclick="opc_menu(5);">@Html.ActionLink("Administración", "Menu", "Home")
                                    <ul>
                                        <li onclick="opc_menu(2);">@Html.ActionLink("Usuarios", "usuarios", "administracion")</li>
                                        <li onclick="opc_menu(3);">@Html.ActionLink("Nodos", "nodos", "administracion")</li>
                                        <li onclick="opc_menu(4);" style="border-top: 1px solid #888;">@Html.ActionLink("Asignar nodos a un usuario", "usuarios_nodos", "administracion")</li>
                                    </ul>
                                </li>
                            }
                        </ul>
                    </nav>
                    }
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - @System.Configuration.ConfigurationManager.AppSettings["Titulo_Web"]</p>
                </div>
            </div>
        </footer>
        
        @RenderSection("scripts", required: false)
    </body>


</html>
