@model TramiteDigitalWeb.Models.LoginModel

@{
    if (!Request.IsAuthenticated)
    {
        ViewBag.Title = "Iniciar sesión";
    }
    else
    {
        ViewBag.Title = "Bienvenido" + User.Identity.Name;
    }
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
            <p>
                Para poder ingresar al sistema y aprovechar de los veneficios del mismo, es necesario iniciar sesión con su
                usuario y contraseña asignados.
            </p>
            <p>                
                Si no cuentas con algún usuario y contraseña válido de acceso, favor de solicitarlo con el administrador del sistema.
            </p>
        </div>
    </section>
}

@if (!Request.IsAuthenticated)
{
    <section id="loginForm">
    @using (
        Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Formulario de inicio de sesión</legend>
            <ol>
                <li>
                    @Html.LabelFor(m => m.UserName)
                    @Html.TextBoxFor(m => m.UserName, new { autofocus=""})
                    @Html.ValidationMessageFor(m => m.UserName)
                </li>
                <li>
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password)
                    @Html.ValidationMessageFor(m => m.Password)
                </li>
                <li>
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
                </li>
            </ol>
            <input type="submit" value="Iniciar sesión" style="float: right;" />
        </fieldset>
    }
    </section>
    <section style="float: left; margin: 0 10px 0 10px; width:66%;" > 
        <h2>@System.Configuration.ConfigurationManager.AppSettings["Titulo_Web"]</h2>
        <p>@ViewBag.AreaDescripcion</p>
        
    </section>
}
else
{ 
    <section id="loginForm">
    Datos de usuario...
    </section>
    <section style="float: left; margin: 0 10px 0 10px" > 
    Menu de opciones
    </section>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
